*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
#card{
    border-radius: 10px;
    height: 450px;
    width: 300px;
    background-color: bisque;
    padding: 20px;
    text-align: center;
}
#card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    
}
#card h1{
     margin: 10px 0;
}

#card h5{
    font-size: 25px;
    color: green;
    margin: 20px;
    margin-bottom: 20px;
}
#card button{
    border-radius: 5px;
    border:none;
    height: 50px;
    width: 120px;
    background-color: cornflowerblue;
    color: white;
    font-weight: 1000;
    cursor: pointer;
    padding: 12px 10px;
    margin-top: 15px;
}

#card #remove{
    background-color: cornflowerblue;
    /* background-color: rgb(206, 199, 199); */
    color: black;
}